body{
	background-color:#e2e2e2;
  height: 100vh;
}
header{
	width:100%;
	position:fixed;
	height:50px;
	background-color:#ccc;
	overflow:hidden;
	z-index:2;
	box-sizing:border-box;
}

*{
  margin:0;
  box-sizing:border-box;
}

.page-content{
	padding-top:50px;
}

.page-content .main-carousel{
	width:100vw;
	height:400px;
	overflow:hidden;
	position:relative;
  background-image: url('../img/slide-background.jpg');
	z-index:1;
}

.page-content .main-carousel .carousel-next,
.page-content .main-carousel .carousel-prev{
	position:absolute;
	top:50%;
	padding:20px;
	background-color:rgba(200,200,200,1);
	cursor:pointer;
	margin-top:-25px;
}

.page-content .main-carousel .carousel-next{
	right:0;
}

.page-content .main-carousel .carousel-prev{
	left:0;
}

.page-content .main-carousel .carousel-cells{
	/*width:99999px;*/
  width: 100%;
	height:100%;
  display: inline-flex;
  /*flex-direction: row;*/
  position: relative;
}

.page-content .main-carousel .carousel-cells article{
	width:100%;
	/*height:100%;*/
  flex: 1 0 100%;
	/*float:left;*/
	display:flex;
  /*flex-direction: row;*/
  justify-content: center;
  align-items: center;
  background-image: url('../img/slide-background.jpg');
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  margin-right: 1vh;
}

header li {
  background-color: #f2f2f2;
  padding: .5vh 2vh .5vh 2vh;
  margin-right: 1vh;
}

.logo {
  margin-left: 2vh;
  font-size: 5vh;
}

.column-content{
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 4vh 0 4vh 0;
}

.column-content h1{
  margin: 0 0vh 2vh 6vh;
  font-size: 4vh;
}

.three-columns {
  display: flex;
/*   -webkit-columns: 4 300px;
    -moz-columns: 4 250px;
         columns: 4 250px;*/
  justify-content: space-between;
  margin: 0 6vh 0vh 6vh;


}

.list-block h3 {
  margin-bottom: 2vh;
  padding-top: 1vh;
}

li {
  list-style-type: none;
}


.slide-text h1 {
  font-size: 8vh;
}

@keyframes next {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

@keyframes previous {
0% { right: 0%; }
20% { right: 0%; }
25% { right: -100%; }
45% { right: -100%; }
50% { right: -200%; }
70% { right: -200%; }
75% { right: -300%; }
95% { right: -300%; }
100% { right: -400%; }
}



// $('.carousel-cells').animate({
        //     left: "-100%"
        // }, 500,
.next {
 /* -webkit-animation-name: next;
  -webkit-animation-duration: 1s;*/
  color: blue;
}

.previous {
/*-webkit-animation-name: previous;
-webkit-animation-duration: 1s;*/
  color: red;
}

@-webkit-keyframes cssAnimation-next{
from {
left: 0;
}
to {
 left: -100%;
}
}

@-webkit-keyframes cssAnimation-previous{
from {
left: 0;
}
to {
 left: -100%;
}
}

@media only screen and (max-width: 767px) {
   .three-columns {
      flex-flow: row wrap;

    }
}
